@mixin flex($direction, $v-align, $h-align: $v-align) {
  display: flex;
  flex-wrap: wrap;
  @include set(flex-direction, $direction);
  @if $direction == row {
    @include set(justify-content, $h-align);
    @include set(align-items, $v-align);
  }
  @if $direction == column {
    @include set(align-items, $h-align);
    @include set(justify-content, $v-align);
  }
}

@mixin position($position, $values) {
  $top: nth($values, 1);
  $right: nth($values, 2);
  $bottom: nth($values, 3);
  $left: nth($values, 4);
  @include set(position, $position);
  @include set(top, $top);
  @include set(right, $right);
  @include set(bottom, $bottom);
  @include set(left, $left);
}

@mixin absolute($v-align, $h-align: $v-align) {
  position: absolute;
  white-space: nowrap;
  @if $v-align == start {
    top: 0;
  }
  @if $h-align == start {
    left: 0;
  }
  @if $v-align == end {
    bottom: 0;
  }
  @if $h-align == end {
    right: 0;
  }
  @if $v-align == center and $h-align != center {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $h-align == center and $v-align != center {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $h-align == center and $v-align == center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

